# BOINC github repo https://github.com/BOINC/boinc
boinc/

# SubsetSum github repo https://github.com/travisdesell/subset_sum_at_home
subset_sum_at_home/

# gene repo https://bitbucket.org/francesco-asnicar/pc-boinc.git
# gene repo optimized by Daniel Frużyński https://bitbucket.org/sirzooro/pc-boinc
pc-boinc/

# milkyway repo https://github.com/Milkyway-at-home/milkywayathome_client
milkywayathome_client/
milkywayathome/

lalsuite/


